.Button {
  padding: 0.5em;
  border: 1px solid #333;
  background-color: rgba(100,100,100,0.2);
  display: flex;
  cursor: pointer;
  transition: background-color 0.2s linear;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Button:hover {
  background-color: rgba(100,100,100,0.4);
}

.Good {
  border: 1px solid green;
}

.Bad {
  border: 1px solid red;
}
